service: waxxy-discord-bot
useDotenv: true
provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  environment:
    DISCORD_PUBLIC_KEY: ${env:DISCORD_PUBLIC_KEY}
    WAX_RPC_URL: ${env:WAX_RPC_URL}

functions:
  discordBot:
    handler: src/handler.handler
    events:
      - http:
          path: /interactions
          method: post
          cors: true

package:
  patterns:
    - '!./**'
    - 'src/**'
    - 'node_modules/**'
